
.status-bar {
  width: 100%;
  min-height: 50px;
  text-align: left;
}

#status-message {
  margin-top: 5px;
  font-family: sans-serif;
  display: inline-block;
}

.status-bar {
  background-color: #DAA;
  color: white;
  border-color: #EEE;
  border-style: solid;
}

.status-bar.red {
  background-color: red;
}


.command {
  margin: auto;
  width: 100%;
}

.command-holder {
  width: 45%;
  display: inline-block;
  margin: 2%;
}

.command {
  background-color: #DAA;
  color: white;
  border-color: #EEE;
  border-style: solid;
}

.command:focus {
  outline: 0;
}

.command:active{
  background-color: #EBB;
  border-color: #CCC;
}

body {
  background-color: #FEE;
}

#messages {
  margin: auto;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 240px) {
    .command {
        font-size: 25px;
        height: 75px;
    }
}

@media screen and (min-width: 480px) {
    .command {
        font-size: 50px;
        height: 150px;
    }
}


@media screen and (min-width: 960px) {
    .command {
        font-size: 100px;
        height: 300px;
    }
}

